/*
----------------------- Универсальные модификаторы (начало) -----------------*/
._hidden {
  display: none;
}
._clearfix:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}
._float-right {
  float: right;
}
._float-left {
  float: left;
}
._underline {
  text-decoration: underline;
}
._uppercase {
  text-transform: uppercase;
}
._vertical-center {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}
._vertical-center:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
._vertical-center > * {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
  max-width: 100%;
}
._mb-xxs {
  margin-bottom: 5px;
}
._mb-xs {
  margin-bottom: 10px;
}
._mb-s {
  margin-bottom: 20px;
}
._mb-m {
  margin-bottom: 30px;
}
._mb-l {
  margin-bottom: 40px;
}
._mb-xl {
  margin-bottom: 50px;
}
._mb-xxl {
  margin-bottom: 60px;
}
._border-right {
  border-right: 1px solid #dad5e7;
}
._border-bottom {
  border-bottom: 1px solid #dad5e7;
}
._max-text {
  max-width: 700px;
  margin: auto;
}
/*--------------------- Универсальные модификаторы (конец) --------------------
*/
/*
----------------------------- Общие стили (начало) --------------------------*/
html {
  font-size: 10px;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: #dadfe1;
  min-width: 1280px;
}
h1,
.h1 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  color: #616161;
}
h2,
.h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #616161;
}
h3,
.h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: #6e0591;
  text-decoration: none;
}
a:hover {
  color: #a608db;
}
a:active {
  color: #c837f8;
}
a._no-underline:hover {
  text-decoration: none;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 0;
}
.btn:focus {
  outline: none !important;
}
.btn.active {
  box-shadow: none;
}
.b-all {
  min-width: 1280px;
  max-width: 1920px;
  min-height: 100%;
  margin: auto;
}
.b-sidebar {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 768px;
  padding-top: 10px;
  color: #fff;
  background: #536271;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
}
.b-sidebar._closed {
  width: 70px;
}
.b-sidebar._closed + .b-content {
  width: 100%;
  margin-left: -70px;
  padding-left: 120px;
}
.b-sidebar._closed nav ul > li a span {
  display: none;
}
.b-sidebar._closed nav ul > li a {
  text-align: center;
  padding-left: 0;
}
.b-sidebar._closed .b-sidebar__phone span {
  display: none;
}
.b-sidebar nav {
  margin-top: 100px;
  margin-left: -15px;
  margin-right: -15px;
}
.b-sidebar nav ul {
  margin-bottom: 0;
}
.b-sidebar nav ul > li {
  height: 50px;
  line-height: 50px;
}
.b-sidebar nav ul > li:hover {
  background: #3d4854;
  background: -moz-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #485562), color-stop(100%, #3d4854));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #485562 0%, #3d4854 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#485562', endColorstr='#3d4854', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.b-sidebar nav ul > li a {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 25px;
  color: #fff;
}
.b-sidebar nav ul > li a:hover {
  color: #fff;
  text-decoration: none;
}
.b-sidebar__menu-button {
  background: none;
  border: none;
  position: relative;
  width: 25px;
  height: 24px;
  padding: 0;
  margin-left: 10px;
}
.b-sidebar__menu-button:before,
.b-sidebar__menu-button:after,
.b-sidebar__menu-button > i {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}
.b-sidebar__menu-button:before {
  top: 0;
}
.b-sidebar__menu-button:after {
  bottom: 1px;
}
.b-sidebar__menu-button > i {
  top: 10px;
}
.b-sidebar__phone {
  margin-top: 50px;
  padding-left: 15px;
}
._closed .b-sidebar__phone {
  padding: 0;
  margin: 0 -15px;
}
._closed .b-sidebar__phone:hover {
  background: #3d4854;
  background: -moz-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #485562), color-stop(100%, #3d4854));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #485562 0%, #3d4854 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #485562 0%, #3d4854 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#485562', endColorstr='#3d4854', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media screen and (max-width: 1400px) {
  .b-sidebar__phone {
    font-size: 20px;
  }
}
.b-sidebar__phone-number {
  white-space: nowrap;
  margin-bottom: 15px;
}
._closed .b-sidebar__phone-number {
  display: none;
}
.b-sidebar__phone-button {
  max-width: 160px;
  min-height: 36px;
  line-height: 36px;
  background: #fff;
  border: 1px solid #fff;
  color: #475461;
  font-size: 16px;
  text-align: center;
}
._closed .b-sidebar__phone-button {
  background: none;
  border: none;
}
.b-sidebar__phone-button:hover {
  background: none;
  color: #fff;
}
.i-sidebar {
  display: none;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/sidebar.png);
  background-repeat: no-repeat;
  background-position: -50px 0;
}
._closed .i-sidebar {
  display: inline-block;
}
._closed .i-sidebar._solution {
  background-position: 0px 0px;
}
._closed .i-sidebar._company {
  background-position: 0px -50px;
}
._closed .i-sidebar._events {
  background-position: 0px -100px;
}
._closed .i-sidebar._press {
  background-position: 0px -150px;
}
._closed .i-sidebar._partners {
  background-position: 0px -200px;
}
._closed .i-sidebar._contacts {
  background-position: 0px -250px;
}
._closed .i-sidebar._phone {
  background-position: 0px -300px;
}
.b-sidebar__goto-top {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
  background: url(../img/icon/goto_top.png) center 10px no-repeat;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
._closed .b-sidebar__goto-top {
  -webkit-background-size: 40px;
  -moz-background-size: 40px;
  -o-background-size: 40px;
  background-size: 40px;
  padding-top: 55px;
  font-size: 10px;
}
.b-sidebar__goto-top:hover {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  color: #fff;
  text-decoration: none;
}
.b-content {
  padding: 20px 50px 0;
  background: #fff;
  min-height: 768px;
}
.b-section {
  padding: 0;
}
.b-section._no-padding-top {
  padding-top: 0;
}
.b-section._no-padding-bottom {
  padding-bottom: 0;
}
.b-intro {
  overflow: hidden;
  min-height: 96px;
  line-height: 96px;
}
.b-intro._border-bottom {
  padding-bottom: 24px;
  margin-bottom: 30px;
  border-bottom: 3px solid;
}
.b-intro__logo {
  float: left;
  margin-right: 20px;
}
.b-intro__text {
  line-height: normal;
}
.b-direction__item {
  margin-bottom: 24px;
}
.b-direction__item img {
  max-width: 100%;
}
@media screen and (max-width: 1365px) {
  .b-direction__item {
    height: 215px;
    overflow: hidden;
  }
}
.b-direction__item-wrapper {
  position: relative;
  height: 100%;
}
.b-direction__link {
  position: absolute;
  top: 0;
  display: block;
  line-height: 215px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}
.b-direction__link:hover,
.b-direction__link:focus {
  color: #fff;
  text-decoration: none;
}
.b-direction__link:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.b-direction__link > * {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
  max-width: 100%;
}
.b-direction__link:hover .b-direction__title {
  display: none;
}
.b-direction__link:hover .b-direction__text {
  display: inline-block;
}
.b-direction__link._sec {
  background-image: url(../img/bg/sec.png);
}
.b-direction__link._sorm {
  background-image: url(../img/bg/sorm.png);
}
.b-direction__link._traff {
  background-image: url(../img/bg/traff.png);
}
.b-direction__link._fraud {
  background-image: url(../img/bg/fraud.png);
}
.b-direction__title {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
}
.b-direction__text {
  display: none;
  /* display: inline-block; */
  line-height: normal;
  vertical-align: middle;
  font-size: 14px;
  padding: 15px;
}
._traff .b-direction__text {
  color: #555;
  text-shadow: none;
}
@media screen and (max-width: 1365px) {
  .b-direction__text {
    padding: 25px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1700px) {
  .b-direction__title {
    font-size: 20px;
  }
}
.b-news__list > li {
  margin-bottom: 10px;
  overflow: hidden;
}
.b-news__list > li time {
  display: block;
  color: #6e0591;
  margin-bottom: 5px;
}
.b-news__img {
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
}
.b-subscribe__form {
  margin-top: 4px;
}
.b-subscribe__text-col {
  width: 80px !important;
}
.b-subscribe__form-col {
  padding-right: 0 !important;
}
.b-subscribe__email {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 60%;
  height: 34px;
  margin-bottom: 4px;
  padding: 0 10px;
  border: 2px solid #810295;
}
.b-subscribe__submit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 34px;
  border: 2px solid #810295;
  background: #810295;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 30px;
}
.b-subscribe__submit:hover {
  background: #9702ae;
}
.b-subscribe__submit:active {
  background: #6b027c;
}
.b-subscribe__checkbox {
  font-weight: normal;
  white-space: nowrap;
  font-size: 12px;
}
.b-subscribe__checkbox input {
  position: relative;
  top: 2px;
  margin: 0;
  margin-right: 4px;
}
.b-video-slider__list {
  overflow: hidden;
  background: #f1f2f2;
}
.b-video-slider__item {
  float: left;
}
.b-video-slider__link {
  display: block;
}
.b-video-slider__preview {
  display: block;
}
.b-video-slider__preview img {
  width: 100%;
}
.b-video-slider__text {
  padding: 10px 15px 5px;
}
.b-replies__author {
  height: 50px;
}
.b-replies__text {
  border: 2px solid #6e0591;
  padding: 20px;
}
.b-replies__square:before {
  content: "■ ";
  font-size: 24px;
}
.b-replies__square._red:before {
  color: #e40000;
}
.b-replies__square._yellow:before {
  color: #fdc800;
}
.b-replies__square._blue:before {
  color: #107bcb;
}
.b-gallery {
  overflow: hidden;
}
.b-gallery__controls {
  float: right;
  position: relative;
  margin-top: 10px;
}
.b-clients {
  cursor: arrow;
}
.b-clients .col-xs-1 {
  display: inline-block !important;
  float: none !important;
  width: 125px !important;
}
.b-clients .tinyscrollbar {
  height: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.b-clients .tinyscrollbar .thumb {
  top: -5px;
  height: 12px;
  background: #810295;
  border-radius: 0;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.b-clients .tinyscrollbar .thumb:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.b-clients .tinyscrollbar .track {
  height: 2px;
}
.b-clients .tinyscrollbar .row {
  white-space: nowrap;
}
footer {
  background: #efefef;
  padding: 20px 50px;
  margin: 0 -50px !important;
  line-height: 27px;
}
footer a {
  color: #333;
}
.slick-slider {
  position: relative;
}
.b-gallery .slick-prev,
.b-gallery .slick-next,
.b-gallery .slick-dots {
  float: left;
}
.b-articles .slick-dots {
  float: right;
  margin-bottom: 5px;
}
.slick-dots {
  margin-right: 15px;
  margin-bottom: 0;
}
.slick-dots > li {
  float: left;
}
.slick-dots > li > button {
  float: left;
  width: 16px;
  height: 24px;
  padding: 0;
  line-height: 16px;
  border: 0;
  background: none;
  font-size: 0;
  outline: none;
}
.slick-dots > li > button:before {
  content: "■ ";
  font-size: 20px;
  color: #dad5e7;
}
.slick-dots > li.slick-active > button:before {
  color: #6e0591;
}
.slick-prev {
  width: 15px;
  height: 15px;
  font-size: 0;
  border: 0;
  border-left: 3px solid #810295;
  border-bottom: 3px solid #810295;
  background: none;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slick-next {
  width: 15px;
  height: 15px;
  font-size: 0;
  border: 0;
  border-right: 3px solid #810295;
  border-top: 3px solid #810295;
  background: none;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slick-disabled {
  border-color: #dad5e7 !important;
}
/*-------------------------------------- 320 --------------------------------------*/
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/*----------------------------- Общие стили (конец) ---------------------------
*/
/*
----------------------- Стили структурных блоков (начало) -------------------*/
.tinyscrollbar {
  overflow-y: scroll;
}
.tinyscrollbar .viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.tinyscrollbar .overview {
  position: absolute;
  width: 100%;
}
.tinyscrollbar .scrollbar {
  position: relative;
  float: right;
  width: 10px;
}
.tinyscrollbar .track {
  background: #e2e0e0;
}
.tinyscrollbar .thumb {
  background: #ff037a;
  position: absolute;
  width: 10px;
  border-radius: 5px;
}
.tinyscrollbar .disable {
  display: none;
}
.tinyscrollbar-horizontal .scrollbar {
  height: 10px;
  float: none;
  margin-top: -10px;
}
.tinyscrollbar-horizontal .track {
  height: 10px;
}
.tinyscrollbar-horizontal .thumb {
  height: 10px;
}
/*
------------------------------ Модальные окна (начало) --------------------------*/
.b-modal {
  width: 550px;
  min-height: 525px;
  padding: 30px 40px;
  font-weight: 300;
}
.b-callback__form {
  width: 310px;
  margin: auto;
  padding-top: 50px;
}
.b-modal__close {
  font-size: 0;
  background: url(../img/icon/modal-close.png) center center no-repeat;
  right: 35px;
  top: 30px;
}
.b-modal__title {
  color: #810295;
  font-weight: 500;
  font-size: 30px;
}
.b-modal__subtitle {
  font-size: 16px;
  color: #810295;
}
.b-callback__input {
  width: 100%;
  height: 44px;
  border: 2px solid #dad5e7 !important;
  border-radius: 0;
  font-weight: 300;
  font-size: 24px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.b-callback__input:-moz-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input::-moz-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input:-ms-input-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input::-webkit-input-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input:focus:-moz-placeholder {
  color: transparent;
}
.b-callback__input:focus::-moz-placeholder {
  color: transparent;
}
.b-callback__input:focus:-ms-input-placeholder {
  color: transparent;
}
.b-callback__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.b-callback__select {
  width: 100%;
}
.b-callback__select .selectboxit {
  width: 308px;
  height: 44px;
  line-height: 44px;
  border: 2px solid #dad5e7;
  background: none;
  font-weight: 300;
  font-size: 20px;
}
.b-callback__select .selectboxit-text {
  height: 44px;
  line-height: 40px;
}
.b-callback__select .selectboxit-arrow-container {
  width: 44px;
  height: 44px;
  top: 0;
}
.b-callback__select .selectboxit-arrow {
  top: 0 !important;
  display: block;
  width: 44px;
  height: 44px;
  background: url(../img/icon/selectboxit-arrow.png) center center no-repeat;
  border: 0;
  border-left: 2px solid #dad5e7;
}
.b-callback__label {
  font-size: 16px;
  color: #810295;
  margin-bottom: 2px;
}
.b-modal__action {
  display: block;
  width: auto;
  height: 48px;
  line-height: 44px;
  margin: auto;
  margin-top: 65px;
  padding: 0 25px;
  background: #810295;
  border: 1px solid #810295;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.b-modal__action:hover {
  background: none;
  color: #810295;
}
.b-subscribe-rules {
  height: auto;
}
.b-subscribe-rules__text {
  margin-top: 40px;
  line-height: 18px;
  font-size: 14px;
}
/*------------------------------ Модальные окна (конец) ---------------------------*/
/*--------------------- Стили структурных блоков (конец) ----------------------
*/
/*
----------------------- Индивидуальные стили страниц (начало) ---------------*/
/*
------------------------------ Направление (начало) --------------------------*/
.b-direction-page._green .b-apply,
.b-direction-page._green .btn.active,
.b-direction-page._green .btn.btn-direction,
.b-direction-page._green .b-solutions:before,
.b-direction-page._green .b-video-slider__list,
.b-direction-page._green .b-clients .tinyscrollbar .thumb {
  background-color: #8fb419;
}
.b-direction-page._green .b-intro._border-bottom,
.b-direction-page._green .b-solutions,
.b-direction-page._green .btn.active {
  border-color: #8fb419;
}
.b-direction-page._green .btn:hover,
.b-direction-page._green .btn.active:hover {
  background: #a1ca1c;
}
.b-direction-page._green .btn:active,
.b-direction-page._green .btn.active:active {
  background: #7d9e16;
}
.b-direction-page._yellow .b-apply,
.b-direction-page._yellow .btn.active,
.b-direction-page._yellow .btn.btn-direction,
.b-direction-page._yellow .b-solutions:before,
.b-direction-page._yellow .b-video-slider__list,
.b-direction-page._yellow .b-clients .tinyscrollbar .thumb {
  background-color: #fbc52f;
  color: #616161;
  text-shadow: none;
}
.b-direction-page._yellow .b-intro._border-bottom,
.b-direction-page._yellow .b-solutions,
.b-direction-page._yellow .btn.active {
  border-color: #fbc52f;
}
.b-direction-page._yellow .btn:hover,
.b-direction-page._yellow .btn.active:hover {
  background: #fbcc48;
}
.b-direction-page._yellow .btn:active,
.b-direction-page._yellow .btn.active:active {
  background: #fbbe16;
}
.b-direction-page._yellow .b-apply h2 {
  color: #616161;
}
.b-direction-page._blue .b-apply,
.b-direction-page._blue .btn.active,
.b-direction-page._blue .btn.btn-direction,
.b-direction-page._blue .b-solutions:before,
.b-direction-page._blue .b-video-slider__list,
.b-direction-page._blue .b-clients .tinyscrollbar .thumb {
  background-color: #326bd4;
}
.b-direction-page._blue .b-intro._border-bottom,
.b-direction-page._blue .b-solutions,
.b-direction-page._blue .btn.active {
  border-color: #326bd4;
}
.b-direction-page._blue .btn:hover,
.b-direction-page._blue .btn.active:hover {
  background: #477ad8;
}
.b-direction-page._blue .btn:active,
.b-direction-page._blue .btn.active:active {
  background: #295fc3;
}
.b-direction-page._violet .b-apply,
.b-direction-page._violet .btn.active,
.b-direction-page._violet .btn.btn-direction,
.b-direction-page._violet .b-solutions:before,
.b-direction-page._violet .b-video-slider__list,
.b-direction-page._violet .b-clients .tinyscrollbar .thumb {
  background-color: #810295;
}
.b-direction-page._violet .b-intro._border-bottom,
.b-direction-page._violet .b-solutions,
.b-direction-page._violet .btn.active {
  border-color: #810295;
}
.b-direction-page._violet .btn:hover,
.b-direction-page._violet .btn.active:hover {
  background: #9702ae;
}
.b-direction-page._violet .btn:active,
.b-direction-page._violet .btn.active:active {
  background: #6b027c;
}
.b-products ._border-right .b-product-intro__text {
  padding-right: 0;
}
.b-products ._border-right + div .b-product-intro__text {
  padding-left: 15px;
}
.b-products ._border-bottom {
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.b-product-intro {
  height: 120px;
  overflow: hidden;
}
.b-product-intro__logo {
  float: left;
  margin-right: 15px;
}
.b-product-intro__text {
  line-height: normal;
  min-height: 120px;
  padding-right: 15px;
}
.b-product-intro__link {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  white-space: nowrap;
  color: #6e0591;
  border-bottom: 1px solid #e0d3e6;
}
.b-product-intro__link:hover {
  text-decoration: none;
}
.b-products__sub {
  padding-left: 134px;
}
.b-products__sub > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 19.5%;
  padding-right: 15px;
}
.b-solutions {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 60px;
  line-height: 24px;
  border: 1px solid;
  overflow: hidden;
}
.b-solutions:before {
  content: "i";
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin-right: 30px;
  background: #888;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}
.b-solutions__wrapper {
  position: relative;
}
.b-reports__buttons .btn.btn-default {
  color: #616161;
}
.b-reports__buttons .btn.btn-default:hover {
  background: #fff;
}
.b-reports__buttons .btn.active {
  color: #fff;
  background-color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.btn-direction {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  line-height: 39px;
  padding: 0 15px;
  text-decoration: none;
  color: #fff !important;
  background-color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.b-apply {
  height: 280px;
  padding: 45px 100px;
  background-color: #888;
  color: #fff;
  background-image: url(../img/bg/pattern.png);
  background-position: 50% 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.b-apply h2 {
  color: #fff;
}
.b-apply ul {
  padding-top: 15px;
}
.b-apply ul > li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 500;
}
.b-apply ul > li:before {
  content: "■ ";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  line-height: 15px;
}
.b-tasks__list {
  margin-top: 40px;
}
.b-tasks__item {
  text-align: center;
  margin-bottom: 40px;
}
.b-tasks__text {
  display: block;
  max-width: 250px;
  margin: auto;
  text-decoration: underline;
}
.icon-task {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/tasks.png);
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-task:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.icon-task._risk {
  background-position: 0px 0px;
}
.icon-task._db {
  background-position: -100px 0px;
}
.icon-task._comm {
  background-position: -200px 0px;
}
.icon-task._reg {
  background-position: 0px -100px;
}
.icon-task._detect {
  background-position: -100px -100px;
}
.icon-task._control {
  background-position: -200px -100px;
}
.b-laws__subtitle {
  position: relative;
  top: -10px;
}
.b-laws__item {
  padding-left: 70px;
  background: url(../img/icon/law.png) 30px 5px no-repeat;
}
.b-laws__link {
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
}
.b-laws__text {
  font-size: 12px;
  line-height: 20px;
  color: #333;
}
.b-laws__more > span {
  border-bottom: 1px dotted;
}
.b-laws__more > span:before {
  content: "Показать всё";
}
.b-laws__more > i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url(../img/icon/more.png) center center no-repeat;
}
.b-laws__more._open > span:before {
  content: "Скрыть";
}
.b-laws__more._open > i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.b-video-slider._direction {
  color: #fff;
}
.b-video-slider._direction .b-video-slider__text {
  padding: 25px 25px 10px;
}
.b-video-slider._direction .slick-dots > li > button:before {
  font-size: 38px;
  color: #fff;
}
.b-video-slider._direction .slick-dots > li {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.b-video-slider._direction .slick-dots > li.slick-active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.b-video-slider._direction .slick-dots > li > button {
  width: 23px;
}
.b-video-slider._direction .slick-dots {
  margin-bottom: 15px;
}
/*------------------------------ ИМЯ_СТРАНИЦЫ (конец) ---------------------------*/
/*
------------------------------ Продукт (начало) --------------------------*/
.b-product-page._yellow .btn.active,
.b-product-page._yellow .b-submenu ._fill,
.b-product-page._yellow .btn.btn-primary,
.b-product-page._yellow .b-features__item:before,
.b-product-page._yellow .b-clients .tinyscrollbar .thumb {
  background-color: #fbc52f;
  color: #616161;
  text-shadow: none;
}
.b-product-page._yellow .btn.active,
.b-product-page._yellow .btn.btn-primary,
.b-product-page._yellow .b-submenu nav ul {
  border-color: #fbc52f;
}
.b-product-page._yellow .btn:hover,
.b-product-page._yellow .btn.active:hover {
  background: #fbcc48;
}
.b-product-page._yellow .btn:active,
.b-product-page._yellow .btn.active:active {
  background: #fbbe16;
}
.b-product-page._yellow .b-product-tasks__item:before {
  color: #fbc52f;
}
.b-product-page._yellow .b-licences a {
  border-top-color: #fcda7a;
  border-left-color: #fbc52f;
  border-right-color: #fbc52f;
  border-bottom-color: #d9a104;
}
.b-product-page._yellow ._passed {
  background: rgba(251, 197, 47, 0.2);
}
.b-product-page._dark-yellow .btn.active,
.b-product-page._dark-yellow .b-submenu ._fill,
.b-product-page._dark-yellow .btn.btn-primary,
.b-product-page._dark-yellow .b-features__item:before,
.b-product-page._dark-yellow .b-clients .tinyscrollbar .thumb {
  background-color: #bc8a37;
  color: #fff;
}
.b-product-page._dark-yellow .btn.active,
.b-product-page._dark-yellow .btn.btn-primary,
.b-product-page._dark-yellow .b-submenu nav ul {
  border-color: #bc8a37;
}
.b-product-page._dark-yellow .btn:hover,
.b-product-page._dark-yellow .btn.active:hover {
  background: #c89744;
}
.b-product-page._dark-yellow .btn:active,
.b-product-page._dark-yellow .btn.active:active {
  background: #a87c31;
}
.b-product-page._dark-yellow .b-product-tasks__item:before {
  color: #bc8a37;
}
.b-product-page._dark-yellow .b-licences a {
  border-top-color: #d4ad6c;
  border-left-color: #bc8a37;
  border-right-color: #bc8a37;
  border-bottom-color: #815f26;
}
.b-product-page._dark-yellow ._passed {
  background: rgba(188, 138, 55, 0.2);
}
.b-product-page._dark-blue .btn.active,
.b-product-page._dark-blue .b-submenu ._fill,
.b-product-page._dark-blue .btn.btn-primary,
.b-product-page._dark-blue .b-features__item:before,
.b-product-page._dark-blue .b-clients .tinyscrollbar .thumb {
  background-color: #005fac;
  color: #fff;
}
.b-product-page._dark-blue .btn.active,
.b-product-page._dark-blue .btn.btn-primary,
.b-product-page._dark-blue .b-submenu nav ul {
  border-color: #005fac;
}
.b-product-page._dark-blue .btn:hover,
.b-product-page._dark-blue .btn.active:hover {
  background: #006dc6;
}
.b-product-page._dark-blue .btn:active,
.b-product-page._dark-blue .btn.active:active {
  background: #005193;
}
.b-product-page._dark-blue .b-product-tasks__item:before {
  color: #005fac;
}
.b-product-page._dark-blue .b-licences a {
  border-top-color: #0089f9;
  border-left-color: #005fac;
  border-right-color: #005fac;
  border-bottom-color: #003560;
}
.b-product-page._dark-blue ._passed {
  background: rgba(0, 95, 172, 0.2);
}
.b-product-page._light-blue .btn.active,
.b-product-page._light-blue .b-submenu ._fill,
.b-product-page._light-blue .btn.btn-primary,
.b-product-page._light-blue .b-features__item:before,
.b-product-page._light-blue .b-clients .tinyscrollbar .thumb {
  background-color: #1c90d0;
  color: #fff;
}
.b-product-page._light-blue .btn.active,
.b-product-page._light-blue .btn.btn-primary,
.b-product-page._light-blue .b-submenu nav ul {
  border-color: #1c90d0;
}
.b-product-page._light-blue .btn:hover,
.b-product-page._light-blue .btn.active:hover {
  background: #249ee2;
}
.b-product-page._light-blue .btn:active,
.b-product-page._light-blue .btn.active:active {
  background: #1980ba;
}
.b-product-page._light-blue .b-product-tasks__item:before {
  color: #1c90d0;
}
.b-product-page._light-blue .b-licences a {
  border-top-color: #51b2e8;
  border-left-color: #1c90d0;
  border-right-color: #1c90d0;
  border-bottom-color: #13618d;
}
.b-product-page._light-blue ._passed {
  background: rgba(28, 144, 208, 0.2);
}
.b-product-page._red .btn.active,
.b-product-page._red .b-submenu ._fill,
.b-product-page._red .btn.btn-primary,
.b-product-page._red .b-features__item:before,
.b-product-page._red .b-clients .tinyscrollbar .thumb {
  background-color: #c0392b;
  color: #fff;
}
.b-product-page._red .btn.active,
.b-product-page._red .btn.btn-primary,
.b-product-page._red .b-submenu nav ul {
  border-color: #c0392b;
}
.b-product-page._red .btn:hover,
.b-product-page._red .btn.active:hover {
  background: #d14233;
}
.b-product-page._red .btn:active,
.b-product-page._red .btn.active:active {
  background: #ab3326;
}
.b-product-page._red .b-product-tasks__item:before {
  color: #c0392b;
}
.b-product-page._red .b-licences a {
  border-top-color: #db695d;
  border-left-color: #c0392b;
  border-right-color: #c0392b;
  border-bottom-color: #81261d;
}
.b-product-page._red ._passed {
  background: rgba(192, 57, 43, 0.2);
}
.b-product-page._cyan .btn.active,
.b-product-page._cyan .b-submenu ._fill,
.b-product-page._cyan .btn.btn-primary,
.b-product-page._cyan .b-features__item:before,
.b-product-page._cyan .b-clients .tinyscrollbar .thumb {
  background-color: #348c9b;
  color: #fff;
}
.b-product-page._cyan .btn.active,
.b-product-page._cyan .btn.btn-primary,
.b-product-page._cyan .b-submenu nav ul {
  border-color: #348c9b;
}
.b-product-page._cyan .btn:hover,
.b-product-page._cyan .btn.active:hover {
  background: #3a9dae;
}
.b-product-page._cyan .btn:active,
.b-product-page._cyan .btn.active:active {
  background: #2e7b88;
}
.b-product-page._cyan .b-product-tasks__item:before {
  color: #348c9b;
}
.b-product-page._cyan .b-licences a {
  border-top-color: #55b6c6;
  border-left-color: #348c9b;
  border-right-color: #348c9b;
  border-bottom-color: #215862;
}
.b-product-page._cyan ._passed {
  background: rgba(52, 140, 155, 0.2);
}
.b-product-page._dark-violet .btn.active,
.b-product-page._dark-violet .b-submenu ._fill,
.b-product-page._dark-violet .btn.btn-primary,
.b-product-page._dark-violet .b-features__item:before,
.b-product-page._dark-violet .b-clients .tinyscrollbar .thumb {
  background-color: #5a4e91;
  color: #fff;
}
.b-product-page._dark-violet .btn.active,
.b-product-page._dark-violet .btn.btn-primary,
.b-product-page._dark-violet .b-submenu nav ul {
  border-color: #5a4e91;
}
.b-product-page._dark-violet .btn:hover,
.b-product-page._dark-violet .btn.active:hover {
  background: #6457a2;
}
.b-product-page._dark-violet .btn:active,
.b-product-page._dark-violet .btn.active:active {
  background: #504580;
}
.b-product-page._dark-violet .b-product-tasks__item:before {
  color: #5a4e91;
}
.b-product-page._dark-violet .b-licences a {
  border-top-color: #8176b5;
  border-left-color: #5a4e91;
  border-right-color: #5a4e91;
  border-bottom-color: #3b335f;
}
.b-product-page._dark-violet ._passed {
  background: rgba(90, 78, 145, 0.2);
}
.b-product-page._dark-green .btn.active,
.b-product-page._dark-green .b-submenu ._fill,
.b-product-page._dark-green .btn.btn-primary,
.b-product-page._dark-green .b-features__item:before,
.b-product-page._dark-green .b-clients .tinyscrollbar .thumb {
  background-color: #428153;
  color: #fff;
}
.b-product-page._dark-green .btn.active,
.b-product-page._dark-green .btn.btn-primary,
.b-product-page._dark-green .b-submenu nav ul {
  border-color: #428153;
}
.b-product-page._dark-green .btn:hover,
.b-product-page._dark-green .btn.active:hover {
  background: #4b925e;
}
.b-product-page._dark-green .btn:active,
.b-product-page._dark-green .btn.active:active {
  background: #397048;
}
.b-product-page._dark-green .b-product-tasks__item:before {
  color: #428153;
}
.b-product-page._dark-green .b-licences a {
  border-top-color: #61ae76;
  border-left-color: #428153;
  border-right-color: #428153;
  border-bottom-color: #284e32;
}
.b-product-page._dark-green ._passed {
  background: rgba(66, 129, 83, 0.2);
}
.b-product-page._green .btn.active,
.b-product-page._green .b-submenu ._fill,
.b-product-page._green .btn.btn-primary,
.b-product-page._green .b-features__item:before,
.b-product-page._green .b-clients .tinyscrollbar .thumb {
  background-color: #8fb419;
  color: #fff;
}
.b-product-page._green .btn.active,
.b-product-page._green .btn.btn-primary,
.b-product-page._green .b-submenu nav ul {
  border-color: #8fb419;
}
.b-product-page._green .btn:hover,
.b-product-page._green .btn.active:hover {
  background: #a1ca1c;
}
.b-product-page._green .btn:active,
.b-product-page._green .btn.active:active {
  background: #7d9e16;
}
.b-product-page._green .b-product-tasks__item:before {
  color: #8fb419;
}
.b-product-page._green .b-licences a {
  border-top-color: #bae336;
  border-left-color: #8fb419;
  border-right-color: #8fb419;
  border-bottom-color: #5a7110;
}
.b-product-page._green ._passed {
  background: rgba(143, 180, 25, 0.2);
}
.b-product-page .b-intro__text {
  display: inline-block;
  vertical-align: top;
}
.b-product-page .b-intro__text._short {
  width: 30%;
  margin-right: 30px;
}
.b-product-page .b-intro__text._long {
  width: 50%;
  line-height: 20px;
}
.b-product-page .b-reports h2 {
  line-height: 47px;
}
.b-product-page .b-news__list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.b-submenu {
  height: 42px;
}
.b-submenu nav {
  position: absolute;
  z-index: 1;
  background: #fff;
}
.b-submenu nav._detached {
  position: fixed;
  top: 15px;
}
.b-submenu nav ul {
  margin-bottom: 0;
  border: 1px solid;
  white-space: nowrap;
  font-size: 0;
}
.b-submenu nav ul > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
}
.b-submenu nav ul li.b-submenu__item {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  /* &:first-child a {
					padding-left: 20px;
				} */
  /* &._passed {
					background: rgba(red(#888), green(#888), blue(#888), 0.2);
				} */
}
.b-submenu nav ul li.b-submenu__item a {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 36px;
  padding: 0 9px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #810295;
  white-space: nowrap;
}
.b-submenu nav ul li.b-submenu__item._descr {
  width: 10%;
}
.b-submenu nav ul li.b-submenu__item._scheme {
  width: 16%;
}
.b-submenu nav ul li.b-submenu__item._articles {
  width: 19%;
}
.b-submenu nav ul li.b-submenu__item._licences {
  width: 9%;
}
.b-submenu nav ul li.b-submenu__item._materials {
  width: 19%;
}
.b-submenu nav ul li.b-submenu__item._clients {
  width: 8%;
}
.b-submenu nav ul li.b-submenu__item._consult {
  width: 19%;
}
.b-product-tasks__list {
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.b-product-tasks__item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #616161;
}
.b-product-tasks__item:before {
  content: "■ ";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  line-height: 15px;
}
.b-features__title span {
  border-bottom: 1px dotted;
  cursor: pointer;
}
.b-features__item {
  position: relative;
  padding-top: 15px;
  padding-right: 50px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
}
.b-features__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #888;
}
.b-features__item li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
}
.b-features__text {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.b-features__text ol > li {
  display: list-item;
}
.b-features__more > span {
  border-bottom: 1px dotted;
}
.b-features__more > span:before {
  content: "Показать всё";
}
.b-features__more > i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url(../img/icon/more.png) center center no-repeat;
}
.b-features__more._open > span:before {
  content: "Скрыть";
}
.b-features__more._open > i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.b-webinars__preview {
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
}
.b-webinars__time {
  color: #810295;
}
.b-pilot {
  height: 300px;
  margin-left: -50px;
  margin-right: -50px;
  background: url(../img/bg/pilot.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.b-licences a,
.b-licences img {
  display: inline-block;
}
.b-licences a {
  border-top: 15px solid #aeaeae;
  border-left: 15px solid #888;
  border-right: 15px solid #888;
  border-bottom: 15px solid #626262;
}
/*------------------------------ Продукт (конец) ---------------------------*/
/*--------------------- Индивидуальные стили страниц (конец) ----------------
*/
