/*
------------------------------ Модальные окна (начало) --------------------------*/
.b-modal {
  width: 550px;
  min-height: 525px;
  padding: 30px 40px;
  font-weight: 300;
}
.b-modal._no-min-height {
  min-height: 0;
}
.b-callback__form {
  width: 310px;
  margin: auto;
  padding-top: 50px;
}
.b-modal__close {
  font-size: 0;
  background: url(../img/icon/modal-close.png) center center no-repeat;
  right: 35px;
  top: 30px;
}
.b-modal__title {
  color: #810295;
  font-weight: 500;
  font-size: 30px;
}
.b-modal__subtitle {
  font-size: 16px;
  color: #810295;
}
.b-callback__input {
  width: 100%;
  height: 44px;
  border: 2px solid #dad5e7 !important;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  color: #810295;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.b-callback__input:-moz-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input::-moz-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input:-ms-input-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input::-webkit-input-placeholder {
  color: #810295;
  opacity: 0.5;
}
.b-callback__input:focus:-moz-placeholder {
  color: transparent;
}
.b-callback__input:focus::-moz-placeholder {
  color: transparent;
}
.b-callback__input:focus:-ms-input-placeholder {
  color: transparent;
}
.b-callback__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.b-callback__select {
  width: 100%;
}
.b-callback__select .selectboxit {
  width: 308px;
  height: 44px;
  line-height: 44px;
  border: 2px solid #dad5e7;
  background: none;
  font-weight: 500;
  font-size: 16px;
}
.b-callback__select .selectboxit-text {
  height: 44px;
  line-height: 40px;
  color: #810295;
}
.b-callback__select .selectboxit-arrow-container {
  width: 44px;
  height: 44px;
  top: 0;
}
.b-callback__select .selectboxit-arrow {
  top: 0 !important;
  display: block;
  width: 44px;
  height: 44px;
  background: url(../img/icon/selectboxit-arrow.png) center center no-repeat;
  border: 0;
  border-left: 2px solid #dad5e7;
}
.b-callback__label {
  font-size: 16px;
  color: #810295;
  margin-bottom: 2px;
}
.b-modal__action {
  display: block;
  width: auto;
  height: 48px;
  line-height: 44px;
  margin: auto;
  margin-top: 35px;
  padding: 0 25px;
  background: #810295;
  border: 1px solid #810295;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.b-modal__action:hover {
  background: none;
  color: #810295;
}
.b-subscribe-rules {
  height: auto;
}
.b-subscribe-rules__text {
  margin-top: 40px;
  line-height: 18px;
  font-size: 14px;
}
.b-modal-vacancy {
  height: auto !important;
  width: 800px;
  margin-left: -400px;
}
.b-modal-vacancy__descr {
  padding: 20px 0 30px;
  margin: 20px 0 20px;
  border-top: 2px solid #dad5e7;
  border-bottom: 2px solid #dad5e7;
}
.b-modal-vacancy__input {
  width: 100%;
  height: 44px;
  border: 2px solid #dad5e7 !important;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #bea2cc;
}
.b-modal-vacancy__input:-moz-placeholder {
  color: #bea2cc;
  opacity: 1;
}
.b-modal-vacancy__input::-moz-placeholder {
  color: #bea2cc;
  opacity: 1;
}
.b-modal-vacancy__input:-ms-input-placeholder {
  color: #bea2cc;
  opacity: 1;
}
.b-modal-vacancy__input::-webkit-input-placeholder {
  color: #bea2cc;
  opacity: 1;
}
.b-modal-vacancy__input:focus:-moz-placeholder {
  color: transparent;
}
.b-modal-vacancy__input:focus::-moz-placeholder {
  color: transparent;
}
.b-modal-vacancy__input:focus:-ms-input-placeholder {
  color: transparent;
}
.b-modal-vacancy__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.b-modal-vacancy__input._textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 90px;
  padding: 11px;
  resize: vertical;
}
.b-modal-vacancy__file {
  position: relative;
  line-height: 44px;
  color: #bea2cc;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  /* ._fake {
		overflow: hidden;
		text-overflow: ellipsis;
	} */
}
.b-modal-vacancy__file input[type=file] {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  cursor: pointer;
}
.b-modal-vacancy__file .b-modal__action {
  padding: 0 15px;
  margin-top: 0 !important;
}
.b-modal-vacancy .b-modal__action {
  font-weight: bold;
  font-size: 16px;
  margin-top: 35px;
}
.b-modal-vacancy__file-hint {
  font-size: 12px;
  color: #bea2cc;
  position: relative;
  padding-left: 22px;
}
.b-modal-vacancy__file-hint i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 12px;
}
/*------------------------------ Модальные окна (конец) ---------------------------*/
