@import "../default/mixins.less";



/*
------------------------------ Направление (начало) --------------------------*/


.b-direction-page {
	&._green {
		.b-apply,
		.btn.active,
		.btn.btn-direction,
		.b-solutions:before,
		.b-video-slider__list,
		.b-clients .tinyscrollbar .thumb { background-color: @green; }
		.b-intro._border-bottom,
		.b-solutions,
		.btn.active { border-color: @green }
		.btn:hover,.btn.active:hover { background: lighten(@green, 5%); }
		.btn:active,.btn.active:active { background: darken(@green, 5%); }
	}

	&._yellow {
		.b-apply,
		.btn.active,
		.btn.btn-direction,
		.b-solutions:before,
		.b-video-slider__list,
		.b-clients .tinyscrollbar .thumb { background-color: @yellow; color: #616161; text-shadow: none }
		.b-intro._border-bottom,
		.b-solutions,
		.btn.active { border-color: @yellow }
		.btn:hover,.btn.active:hover { background: lighten(@yellow, 5%); }
		.btn:active,.btn.active:active { background: darken(@yellow, 5%); }

		.b-apply h2 { color: #616161;}
	}

	&._blue {
		.b-apply,
		.btn.active,
		.btn.btn-direction,
		.b-solutions:before,
		.b-video-slider__list,
		.b-clients .tinyscrollbar .thumb { background-color: @blue; }
		.b-intro._border-bottom,
		.b-solutions,
		.btn.active { border-color: @blue }
		.btn:hover,.btn.active:hover { background: lighten(@blue, 5%); }
		.btn:active,.btn.active:active { background: darken(@blue, 5%); }
	}

	&._violet {
		.b-apply,
		.btn.active,
		.btn.btn-direction,
		.b-solutions:before,
		.b-video-slider__list,
		.b-clients .tinyscrollbar .thumb { background-color: @violet; }
		.b-intro._border-bottom,
		.b-solutions,
		.btn.active { border-color: @violet }
		.btn:hover,.btn.active:hover { background: lighten(@violet, 5%); }
		.btn:active,.btn.active:active { background: darken(@violet, 5%); }
	}
}



.b-products {

	._border-right .b-product-intro__text {
		padding-right: 0;
	}

	._border-right + div .b-product-intro__text {
		padding-left: 15px;
	}

	._border-bottom {
		padding-bottom: 25px;
		margin-bottom: 30px;
	}
}

.b-product-intro {
	height: 120px;
	//overflow: hidden;

	&._wide-pic {
		.b-product-intro__text {

			h3 {
				display: inline;

				.b-product-intro__link {
					display: inline;
					white-space: normal;
				}
			}

			p {
				padding-left: 251px;
				padding-top: 8px;
			}
		}
	}
}

.b-product-intro__logo {
	float: left;
	margin-right: 15px;
}

.b-product-intro__text {
	line-height: normal;
	min-height: 120px;
	padding-right: 15px;
}

.b-product-intro__link {
	display: inline-block;
	margin-bottom: 10px;
	text-decoration: none; &:hover { text-decoration: none; }
	white-space: nowrap;
	color: #6e0591;
	border-bottom: 1px solid #e0d3e6;
}

.b-products__sub {
	padding-left: 134px;

	& > li {
		.box-sizing(border-box);
		float: left;
		width: 19.5%;
		padding-right: 15px;
	}

	&._six {
		& > li {
			h3 { margin-bottom: 5px; }
			a { display: inline; white-space: normal; line-height: normal;}
			p { margin-bottom: 0 }
			width: 16%
		}
	}
}




.b-solutions {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 60px;
	line-height: 24px;
	border: 1px solid;
	overflow: hidden;

	&:before {
		content: "i";
		float: left;
		width: 48px;
		height: 48px;
		line-height: 48px;
		margin-right: 30px;
		background: #888;
		color: #fff;
		border-radius: 50%;
		text-align: center;
		font-size: 28px;
		font-weight: 500;
	}

	& > div {
		padding-left: 80px;
	}
}

.b-solutions__wrapper {
	position: relative;
}



.b-reports__buttons {
	.btn.btn-default {
		color: #616161;
		&:hover { background: #fff; }
	}
	.btn.active {
		color: #fff;
		background-color: #888;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
	}
}




.btn-direction {
	border-radius: 0;
	.fluid-button(43px, 15px);
	color: #fff;
	background-color: #888;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}





.b-apply {
	min-height: 280px;
	padding: 45px 100px;
	background-color: #888;
	color: #fff;
	background-image: url(../img/bg/pattern.png);
	background-position: 50% 30%;
	.background-size(cover);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);

	h2 { color: #fff;}

	ul {
		padding-top: 15px;

		& > li {
			position: relative;
			padding-left: 35px;
			margin-bottom: 13px;
			font-size: 16px;
			font-weight: 500;

			&:before {
				content: "■ ";
				position: absolute;
				left: 0;
				top: 0;
				font-size: 24px;
				line-height: 15px;
			}
		}
	}
}





.b-tasks__list {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

.b-tasks__item {
	text-align: center;
	margin-bottom: 40px;
}

.b-tasks__link {
	;
}

.b-tasks__text {
	display: block;
	max-width: 250px;
	margin: auto;
	text-decoration: underline;
}

.icon-task {
	@size: 100px;
	display: block;
	margin: auto;
	width: @size;
	height: @size;
	//background-image: url(../img/icon/tasks.png);
	background-repeat: no-repeat;
	.transition(all 0.3s);

	&:hover { .transform(scale(1.05))}

	&._risk    { background: url(../img/icon/tasks/1.png) center center no-repeat; /* .sprite(0,0,@size,@size) */ }
	&._db      { background: url(../img/icon/tasks/2.png) center center no-repeat; /* .sprite(1,0,@size,@size) */ }
	&._comm    { background: url(../img/icon/tasks/3.png) center center no-repeat; /* .sprite(2,0,@size,@size) */ }
	&._reg     { background: url(../img/icon/tasks/4.png) center center no-repeat; /* .sprite(0,1,@size,@size) */ }
	&._detect  { background: url(../img/icon/tasks/5.png) center center no-repeat; /* .sprite(1,1,@size,@size) */ }
	&._control { background: url(../img/icon/tasks/6.png) center center no-repeat; /* .sprite(2,1,@size,@size) */ }
}





.b-laws__subtitle {
	position: relative;
	top: -10px;
}

.b-laws__list {
	&._open {
		.visible-lg {
			display: block !important;
		}
	}
}

.b-laws__item {
	padding-left: 70px;
	background: url(../img/icon/law.png) 30px 5px no-repeat;
}

.b-laws__link {
	display: block;
	text-decoration: underline;
	margin-bottom: 10px;
}

.b-laws__text {
	font-size: 12px;
	line-height: 20px;
	color: #333;
}

.b-laws__more {

	& > span {
		border-bottom: 1px dotted;
	}

	& > span:before {
		content: "Показать всё"
	}

	& > i {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin-left: 5px;
		background: url(../img/icon/more.png) center center no-repeat;
	}

	&._open {
		& > span:before {
			content: "Скрыть"
		}

		& > i {
			.rotate(180);
		}
	}
}






 .b-video-slider._direction {
 	color: #fff;

 	.b-video-slider__text {
 		padding: 25px 25px 10px;
 	}

 	.slick-dots > li > button:before {
 		font-size: 38px;
 		color: #fff;
 	}

 	.slick-dots > li {
		.opacity(0.6);
 	}

 	.slick-dots > li.slick-active {
 		.opacity(1);
 	}

 	.slick-dots > li > button {
 		width: 23px;
 	}

 	.slick-dots {
 		margin-bottom: 15px;
 	}
 }







/*------------------------------ ИМЯ_СТРАНИЦЫ (конец) ---------------------------*/