/*
------------------------------ Направление (начало) --------------------------*/
.b-direction-page._green .b-apply,
.b-direction-page._green .btn.active,
.b-direction-page._green .btn.btn-direction,
.b-direction-page._green .b-solutions:before,
.b-direction-page._green .b-video-slider__list,
.b-direction-page._green .b-clients .tinyscrollbar .thumb {
  background-color: #8fb419;
}
.b-direction-page._green .b-intro._border-bottom,
.b-direction-page._green .b-solutions,
.b-direction-page._green .btn.active {
  border-color: #8fb419;
}
.b-direction-page._green .btn:hover,
.b-direction-page._green .btn.active:hover {
  background: #a1ca1c;
}
.b-direction-page._green .btn:active,
.b-direction-page._green .btn.active:active {
  background: #7d9e16;
}
.b-direction-page._yellow .b-apply,
.b-direction-page._yellow .btn.active,
.b-direction-page._yellow .btn.btn-direction,
.b-direction-page._yellow .b-solutions:before,
.b-direction-page._yellow .b-video-slider__list,
.b-direction-page._yellow .b-clients .tinyscrollbar .thumb {
  background-color: #fbc52f;
  color: #616161;
  text-shadow: none;
}
.b-direction-page._yellow .b-intro._border-bottom,
.b-direction-page._yellow .b-solutions,
.b-direction-page._yellow .btn.active {
  border-color: #fbc52f;
}
.b-direction-page._yellow .btn:hover,
.b-direction-page._yellow .btn.active:hover {
  background: #fbcc48;
}
.b-direction-page._yellow .btn:active,
.b-direction-page._yellow .btn.active:active {
  background: #fbbe16;
}
.b-direction-page._yellow .b-apply h2 {
  color: #616161;
}
.b-direction-page._blue .b-apply,
.b-direction-page._blue .btn.active,
.b-direction-page._blue .btn.btn-direction,
.b-direction-page._blue .b-solutions:before,
.b-direction-page._blue .b-video-slider__list,
.b-direction-page._blue .b-clients .tinyscrollbar .thumb {
  background-color: #326bd4;
}
.b-direction-page._blue .b-intro._border-bottom,
.b-direction-page._blue .b-solutions,
.b-direction-page._blue .btn.active {
  border-color: #326bd4;
}
.b-direction-page._blue .btn:hover,
.b-direction-page._blue .btn.active:hover {
  background: #477ad8;
}
.b-direction-page._blue .btn:active,
.b-direction-page._blue .btn.active:active {
  background: #295fc3;
}
.b-direction-page._violet .b-apply,
.b-direction-page._violet .btn.active,
.b-direction-page._violet .btn.btn-direction,
.b-direction-page._violet .b-solutions:before,
.b-direction-page._violet .b-video-slider__list,
.b-direction-page._violet .b-clients .tinyscrollbar .thumb {
  background-color: #810295;
}
.b-direction-page._violet .b-intro._border-bottom,
.b-direction-page._violet .b-solutions,
.b-direction-page._violet .btn.active {
  border-color: #810295;
}
.b-direction-page._violet .btn:hover,
.b-direction-page._violet .btn.active:hover {
  background: #9702ae;
}
.b-direction-page._violet .btn:active,
.b-direction-page._violet .btn.active:active {
  background: #6b027c;
}
.b-products ._border-right .b-product-intro__text {
  padding-right: 0;
}
.b-products ._border-right + div .b-product-intro__text {
  padding-left: 15px;
}
.b-products ._border-bottom {
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.b-product-intro {
  height: 120px;
}
.b-product-intro__logo {
  float: left;
  margin-right: 15px;
}
.b-product-intro__text {
  line-height: normal;
  min-height: 120px;
  padding-right: 15px;
}
.b-product-intro__link {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  white-space: nowrap;
  color: #6e0591;
  border-bottom: 1px solid #e0d3e6;
}
.b-product-intro__link:hover {
  text-decoration: none;
}
.b-products__sub {
  padding-left: 134px;
}
.b-products__sub > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 19.5%;
  padding-right: 15px;
}
.b-products__sub._six > li {
  width: 16%;
}
.b-products__sub._six > li h3 {
  margin-bottom: 5px;
}
.b-products__sub._six > li a {
  display: inline;
  white-space: normal;
  line-height: normal;
}
.b-products__sub._six > li p {
  margin-bottom: 0;
}
.b-solutions {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 60px;
  line-height: 24px;
  border: 1px solid;
  overflow: hidden;
}
.b-solutions:before {
  content: "i";
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin-right: 30px;
  background: #888;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}
.b-solutions__wrapper {
  position: relative;
}
.b-reports__buttons .btn.btn-default {
  color: #616161;
}
.b-reports__buttons .btn.btn-default:hover {
  background: #fff;
}
.b-reports__buttons .btn.active {
  color: #fff;
  background-color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.btn-direction {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  line-height: 39px;
  padding: 0 15px;
  text-decoration: none;
  color: #fff !important;
  background-color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.b-apply {
  height: 280px;
  padding: 45px 100px;
  background-color: #888;
  color: #fff;
  background-image: url(../img/bg/pattern.png);
  background-position: 50% 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.b-apply h2 {
  color: #fff;
}
.b-apply ul {
  padding-top: 15px;
}
.b-apply ul > li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 500;
}
.b-apply ul > li:before {
  content: "■ ";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  line-height: 15px;
}
.b-tasks__list {
  margin-top: 40px;
}
.b-tasks__item {
  text-align: center;
  margin-bottom: 40px;
}
.b-tasks__text {
  display: block;
  max-width: 250px;
  margin: auto;
  text-decoration: underline;
}
.icon-task {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-task:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.icon-task._risk {
  background: url(../img/icon/tasks/1.png) center center no-repeat;
  /* .sprite(0,0,@size,@size) */
}
.icon-task._db {
  background: url(../img/icon/tasks/2.png) center center no-repeat;
  /* .sprite(1,0,@size,@size) */
}
.icon-task._comm {
  background: url(../img/icon/tasks/3.png) center center no-repeat;
  /* .sprite(2,0,@size,@size) */
}
.icon-task._reg {
  background: url(../img/icon/tasks/4.png) center center no-repeat;
  /* .sprite(0,1,@size,@size) */
}
.icon-task._detect {
  background: url(../img/icon/tasks/5.png) center center no-repeat;
  /* .sprite(1,1,@size,@size) */
}
.icon-task._control {
  background: url(../img/icon/tasks/6.png) center center no-repeat;
  /* .sprite(2,1,@size,@size) */
}
.b-laws__subtitle {
  position: relative;
  top: -10px;
}
.b-laws__item {
  padding-left: 70px;
  background: url(../img/icon/law.png) 30px 5px no-repeat;
}
.b-laws__link {
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
}
.b-laws__text {
  font-size: 12px;
  line-height: 20px;
  color: #333;
}
.b-laws__more > span {
  border-bottom: 1px dotted;
}
.b-laws__more > span:before {
  content: "Показать всё";
}
.b-laws__more > i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url(../img/icon/more.png) center center no-repeat;
}
.b-laws__more._open > span:before {
  content: "Скрыть";
}
.b-laws__more._open > i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.b-video-slider._direction {
  color: #fff;
}
.b-video-slider._direction .b-video-slider__text {
  padding: 25px 25px 10px;
}
.b-video-slider._direction .slick-dots > li > button:before {
  font-size: 38px;
  color: #fff;
}
.b-video-slider._direction .slick-dots > li {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.b-video-slider._direction .slick-dots > li.slick-active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.b-video-slider._direction .slick-dots > li > button {
  width: 23px;
}
.b-video-slider._direction .slick-dots {
  margin-bottom: 15px;
}
/*------------------------------ ИМЯ_СТРАНИЦЫ (конец) ---------------------------*/
