/*
------------------------------ Продукт (начало) --------------------------*/
.b-product-page._yellow .btn.active,
.b-product-page._yellow .b-submenu ._fill,
.b-product-page._yellow .btn.btn-primary,
.b-product-page._yellow .b-features__item:before,
.b-product-page._yellow .b-clients .tinyscrollbar .thumb {
  background-color: #fbc52f;
  color: #616161;
  text-shadow: none;
}
.b-product-page._yellow .btn.active,
.b-product-page._yellow .btn.btn-primary,
.b-product-page._yellow .b-submenu nav {
  border-color: #fbc52f;
}
.b-product-page._yellow .btn:hover,
.b-product-page._yellow .btn.active:hover {
  background: #fbcc48;
}
.b-product-page._yellow .btn:active,
.b-product-page._yellow .btn.active:active {
  background: #fbbe16;
}
.b-product-page._yellow .b-product-tasks__item:before {
  color: #fbc52f;
}
.b-product-page._yellow .b-licences a {
  border-top-color: #fcda7a;
  border-left-color: #fbc52f;
  border-right-color: #fbc52f;
  border-bottom-color: #d9a104;
}
.b-product-page._yellow ._passed:before {
  background: rgba(251, 197, 47, 0.2);
}
.b-product-page._dark-yellow .btn.active,
.b-product-page._dark-yellow .b-submenu ._fill,
.b-product-page._dark-yellow .btn.btn-primary,
.b-product-page._dark-yellow .b-features__item:before,
.b-product-page._dark-yellow .b-clients .tinyscrollbar .thumb {
  background-color: #bc8a37;
  color: #fff;
}
.b-product-page._dark-yellow .btn.active,
.b-product-page._dark-yellow .btn.btn-primary,
.b-product-page._dark-yellow .b-submenu nav {
  border-color: #bc8a37;
}
.b-product-page._dark-yellow .btn:hover,
.b-product-page._dark-yellow .btn.active:hover {
  background: #c89744;
}
.b-product-page._dark-yellow .btn:active,
.b-product-page._dark-yellow .btn.active:active {
  background: #a87c31;
}
.b-product-page._dark-yellow .b-product-tasks__item:before {
  color: #bc8a37;
}
.b-product-page._dark-yellow .b-licences a {
  border-top-color: #d4ad6c;
  border-left-color: #bc8a37;
  border-right-color: #bc8a37;
  border-bottom-color: #815f26;
}
.b-product-page._dark-yellow ._passed:before {
  background: rgba(188, 138, 55, 0.2);
}
.b-product-page._dark-blue .btn.active,
.b-product-page._dark-blue .b-submenu ._fill,
.b-product-page._dark-blue .btn.btn-primary,
.b-product-page._dark-blue .b-features__item:before,
.b-product-page._dark-blue .b-clients .tinyscrollbar .thumb {
  background-color: #005fac;
  color: #fff;
}
.b-product-page._dark-blue .btn.active,
.b-product-page._dark-blue .btn.btn-primary,
.b-product-page._dark-blue .b-submenu nav {
  border-color: #005fac;
}
.b-product-page._dark-blue .btn:hover,
.b-product-page._dark-blue .btn.active:hover {
  background: #006dc6;
}
.b-product-page._dark-blue .btn:active,
.b-product-page._dark-blue .btn.active:active {
  background: #005193;
}
.b-product-page._dark-blue .b-product-tasks__item:before {
  color: #005fac;
}
.b-product-page._dark-blue .b-licences a {
  border-top-color: #0089f9;
  border-left-color: #005fac;
  border-right-color: #005fac;
  border-bottom-color: #003560;
}
.b-product-page._dark-blue ._passed:before {
  background: rgba(0, 95, 172, 0.2);
}
.b-product-page._light-blue .btn.active,
.b-product-page._light-blue .b-submenu ._fill,
.b-product-page._light-blue .btn.btn-primary,
.b-product-page._light-blue .b-features__item:before,
.b-product-page._light-blue .b-clients .tinyscrollbar .thumb {
  background-color: #1c90d0;
  color: #fff;
}
.b-product-page._light-blue .btn.active,
.b-product-page._light-blue .btn.btn-primary,
.b-product-page._light-blue .b-submenu nav {
  border-color: #1c90d0;
}
.b-product-page._light-blue .btn:hover,
.b-product-page._light-blue .btn.active:hover {
  background: #249ee2;
}
.b-product-page._light-blue .btn:active,
.b-product-page._light-blue .btn.active:active {
  background: #1980ba;
}
.b-product-page._light-blue .b-product-tasks__item:before {
  color: #1c90d0;
}
.b-product-page._light-blue .b-licences a {
  border-top-color: #51b2e8;
  border-left-color: #1c90d0;
  border-right-color: #1c90d0;
  border-bottom-color: #13618d;
}
.b-product-page._light-blue ._passed:before {
  background: rgba(28, 144, 208, 0.2);
}
.b-product-page._red .btn.active,
.b-product-page._red .b-submenu ._fill,
.b-product-page._red .btn.btn-primary,
.b-product-page._red .b-features__item:before,
.b-product-page._red .b-clients .tinyscrollbar .thumb {
  background-color: #c0392b;
  color: #fff;
}
.b-product-page._red .btn.active,
.b-product-page._red .btn.btn-primary,
.b-product-page._red .b-submenu nav {
  border-color: #c0392b;
}
.b-product-page._red .btn:hover,
.b-product-page._red .btn.active:hover {
  background: #d14233;
}
.b-product-page._red .btn:active,
.b-product-page._red .btn.active:active {
  background: #ab3326;
}
.b-product-page._red .b-product-tasks__item:before {
  color: #c0392b;
}
.b-product-page._red .b-licences a {
  border-top-color: #db695d;
  border-left-color: #c0392b;
  border-right-color: #c0392b;
  border-bottom-color: #81261d;
}
.b-product-page._red ._passed:before {
  background: rgba(192, 57, 43, 0.2);
}
.b-product-page._cyan .btn.active,
.b-product-page._cyan .b-submenu ._fill,
.b-product-page._cyan .btn.btn-primary,
.b-product-page._cyan .b-features__item:before,
.b-product-page._cyan .b-clients .tinyscrollbar .thumb {
  background-color: #348c9b;
  color: #fff;
}
.b-product-page._cyan .btn.active,
.b-product-page._cyan .btn.btn-primary,
.b-product-page._cyan .b-submenu nav {
  border-color: #348c9b;
}
.b-product-page._cyan .btn:hover,
.b-product-page._cyan .btn.active:hover {
  background: #3a9dae;
}
.b-product-page._cyan .btn:active,
.b-product-page._cyan .btn.active:active {
  background: #2e7b88;
}
.b-product-page._cyan .b-product-tasks__item:before {
  color: #348c9b;
}
.b-product-page._cyan .b-licences a {
  border-top-color: #55b6c6;
  border-left-color: #348c9b;
  border-right-color: #348c9b;
  border-bottom-color: #215862;
}
.b-product-page._cyan ._passed:before {
  background: rgba(52, 140, 155, 0.2);
}
.b-product-page._dark-violet .btn.active,
.b-product-page._dark-violet .b-submenu ._fill,
.b-product-page._dark-violet .btn.btn-primary,
.b-product-page._dark-violet .b-features__item:before,
.b-product-page._dark-violet .b-clients .tinyscrollbar .thumb {
  background-color: #5a4e91;
  color: #fff;
}
.b-product-page._dark-violet .btn.active,
.b-product-page._dark-violet .btn.btn-primary,
.b-product-page._dark-violet .b-submenu nav {
  border-color: #5a4e91;
}
.b-product-page._dark-violet .btn:hover,
.b-product-page._dark-violet .btn.active:hover {
  background: #6457a2;
}
.b-product-page._dark-violet .btn:active,
.b-product-page._dark-violet .btn.active:active {
  background: #504580;
}
.b-product-page._dark-violet .b-product-tasks__item:before {
  color: #5a4e91;
}
.b-product-page._dark-violet .b-licences a {
  border-top-color: #8176b5;
  border-left-color: #5a4e91;
  border-right-color: #5a4e91;
  border-bottom-color: #3b335f;
}
.b-product-page._dark-violet ._passed:before {
  background: #dedce9;
}
.b-product-page._dark-green .btn.active,
.b-product-page._dark-green .b-submenu ._fill,
.b-product-page._dark-green .btn.btn-primary,
.b-product-page._dark-green .b-features__item:before,
.b-product-page._dark-green .b-clients .tinyscrollbar .thumb {
  background-color: #428153;
  color: #fff;
}
.b-product-page._dark-green .btn.active,
.b-product-page._dark-green .btn.btn-primary,
.b-product-page._dark-green .b-submenu nav {
  border-color: #428153;
}
.b-product-page._dark-green .btn:hover,
.b-product-page._dark-green .btn.active:hover {
  background: #4b925e;
}
.b-product-page._dark-green .btn:active,
.b-product-page._dark-green .btn.active:active {
  background: #397048;
}
.b-product-page._dark-green .b-product-tasks__item:before {
  color: #428153;
}
.b-product-page._dark-green .b-licences a {
  border-top-color: #61ae76;
  border-left-color: #428153;
  border-right-color: #428153;
  border-bottom-color: #284e32;
}
.b-product-page._dark-green ._passed:before {
  background: rgba(66, 129, 83, 0.2);
}
.b-product-page._green .btn.active,
.b-product-page._green .b-submenu ._fill,
.b-product-page._green .btn.btn-primary,
.b-product-page._green .b-features__item:before,
.b-product-page._green .b-clients .tinyscrollbar .thumb {
  background-color: #8fb419;
  color: #fff;
}
.b-product-page._green .btn.active,
.b-product-page._green .btn.btn-primary,
.b-product-page._green .b-submenu nav {
  border-color: #8fb419;
}
.b-product-page._green .btn:hover,
.b-product-page._green .btn.active:hover {
  background: #a1ca1c;
}
.b-product-page._green .btn:active,
.b-product-page._green .btn.active:active {
  background: #7d9e16;
}
.b-product-page._green .b-product-tasks__item:before {
  color: #8fb419;
}
.b-product-page._green .b-licences a {
  border-top-color: #bae336;
  border-left-color: #8fb419;
  border-right-color: #8fb419;
  border-bottom-color: #5a7110;
}
.b-product-page._green ._passed:before {
  background: rgba(143, 180, 25, 0.2);
}
.b-product-page .b-intro__text {
  display: inline-block;
  vertical-align: top;
}
.b-product-page .b-intro__text._short {
  width: 30%;
  margin-right: 30px;
}
.b-product-page .b-intro__text._long {
  width: 50%;
  line-height: 20px;
}
.b-product-page .b-reports h2 {
  line-height: 47px;
}
.b-product-page .b-news__list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.b-submenu {
  height: 42px;
}
.b-submenu nav {
  position: absolute;
  z-index: 1;
  background: #fff;
  overflow: hidden;
  border: 1px solid;
}
.b-submenu nav._detached {
  position: fixed;
  top: 15px;
}
.b-submenu nav ul {
  margin-bottom: 0;
  text-align: justify;
  text-align-last: justify;
  line-height: 0;
}
.b-submenu nav ul > * {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}
.b-submenu nav ul:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.b-submenu nav ul li.b-submenu__item {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  /* &:first-child a {
					padding-left: 20px;
				} */
  /* &._passed {
					background: rgba(red(#888), green(#888), blue(#888), 0.2);
				} */
  /* &._descr     { width: 10% }
				&._scheme    { width: 16% }
				&._articles  { width: 19% }
				&._licences  { width: 9%  }
				&._materials { width: 19% }
				&._clients   { width: 8%  }
				&._consult   { width: 19% } */
}
.b-submenu nav ul li.b-submenu__item a {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 36px;
  padding: 0 9px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #810295;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.b-submenu nav ul li.b-submenu__item._passed {
  position: relative;
}
.b-submenu nav ul li.b-submenu__item._passed:before {
  position: absolute;
  content: "";
  width: 1920px;
  height: 100%;
  right: 0;
}
.b-product-tasks__list {
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.b-product-tasks__item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #616161;
}
.b-product-tasks__item:before {
  content: "■ ";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  line-height: 15px;
}
.b-features__title span {
  border-bottom: 1px dotted;
  cursor: pointer;
}
.b-features__item {
  position: relative;
  padding-top: 15px;
  padding-right: 50px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
}
.b-features__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #888;
}
.b-features__item li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
}
.b-features__text {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.b-features__text ol > li {
  display: list-item;
}
.b-features__more > span {
  border-bottom: 1px dotted;
}
.b-features__more > span:before {
  content: "Показать всё";
}
.b-features__more > i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url(../img/icon/more.png) center center no-repeat;
}
.b-features__more._open > span:before {
  content: "Скрыть";
}
.b-features__more._open > i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.b-webinars__preview {
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
}
.b-webinars__time {
  color: #810295;
}
.b-pilot {
  height: 300px;
  margin-left: -50px;
  margin-right: -50px;
  background: url(../img/bg/pilot.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.b-licences a,
.b-licences img {
  display: inline-block;
}
.b-licences a {
  border-top: 15px solid #aeaeae;
  border-left: 15px solid #888;
  border-right: 15px solid #888;
  border-bottom: 15px solid #626262;
}
/*------------------------------ Продукт (конец) ---------------------------*/
