@import "../default/mixins.less";



/*
------------------------------ Продукт (начало) --------------------------*/





.b-product-page {

	&._yellow {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @yellow; color: #616161; text-shadow: none; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @yellow }
		.btn:hover,.btn.active:hover { background: lighten(@yellow, 5%); }
		.btn:active,.btn.active:active { background: darken(@yellow, 5%); }
		.b-product-tasks__item:before { color: @yellow; }
		.b-licences a {
			border-top-color: lighten(@yellow, 15%);
			border-left-color: @yellow;
			border-right-color: @yellow;
			border-bottom-color: darken(@yellow, 15%);
		}
		._passed:before { background: rgba(red(@yellow), green(@yellow), blue(@yellow), 0.2); }
	}



	&._dark-yellow {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @dark-yellow; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @dark-yellow }
		.btn:hover,.btn.active:hover { background: lighten(@dark-yellow, 5%); }
		.btn:active,.btn.active:active { background: darken(@dark-yellow, 5%); }
		.b-product-tasks__item:before { color: @dark-yellow; }
		.b-licences a {
			border-top-color: lighten(@dark-yellow, 15%);
			border-left-color: @dark-yellow;
			border-right-color: @dark-yellow;
			border-bottom-color: darken(@dark-yellow, 15%);
		}
		._passed:before { background: rgba(red(@dark-yellow), green(@dark-yellow), blue(@dark-yellow), 0.2); }
	}



	&._dark-blue {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @dark-blue; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @dark-blue }
		.btn:hover,.btn.active:hover { background: lighten(@dark-blue, 5%); }
		.btn:active,.btn.active:active { background: darken(@dark-blue, 5%); }
		.b-product-tasks__item:before { color: @dark-blue; }
		.b-licences a {
			border-top-color: lighten(@dark-blue, 15%);
			border-left-color: @dark-blue;
			border-right-color: @dark-blue;
			border-bottom-color: darken(@dark-blue, 15%);
		}
		._passed:before { background: rgba(red(@dark-blue), green(@dark-blue), blue(@dark-blue), 0.2); }
	}



	&._light-blue {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @light-blue; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @light-blue }
		.btn:hover,.btn.active:hover { background: lighten(@light-blue, 5%); }
		.btn:active,.btn.active:active { background: darken(@light-blue, 5%); }
		.b-product-tasks__item:before { color: @light-blue; }
		.b-licences a {
			border-top-color: lighten(@light-blue, 15%);
			border-left-color: @light-blue;
			border-right-color: @light-blue;
			border-bottom-color: darken(@light-blue, 15%);
		}
		._passed:before { background: rgba(red(@light-blue), green(@light-blue), blue(@light-blue), 0.2); }
	}



	&._red {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @red; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @red }
		.btn:hover,.btn.active:hover { background: lighten(@red, 5%); }
		.btn:active,.btn.active:active { background: darken(@red, 5%); }
		.b-product-tasks__item:before { color: @red; }
		.b-licences a {
			border-top-color: lighten(@red, 15%);
			border-left-color: @red;
			border-right-color: @red;
			border-bottom-color: darken(@red, 15%);
		}
		._passed:before { background: rgba(red(@red), green(@red), blue(@red), 0.2); }
	}



	&._cyan {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @cyan; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @cyan }
		.btn:hover,.btn.active:hover { background: lighten(@cyan, 5%); }
		.btn:active,.btn.active:active { background: darken(@cyan, 5%); }
		.b-product-tasks__item:before { color: @cyan; }
		.b-licences a {
			border-top-color: lighten(@cyan, 15%);
			border-left-color: @cyan;
			border-right-color: @cyan;
			border-bottom-color: darken(@cyan, 15%);
		}
		._passed:before { background: rgba(red(@cyan), green(@cyan), blue(@cyan), 0.2); }
	}



	&._dark-violet {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @dark-violet; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @dark-violet }
		.btn:hover,.btn.active:hover { background: lighten(@dark-violet, 5%); }
		.btn:active,.btn.active:active { background: darken(@dark-violet, 5%); }
		.b-product-tasks__item:before { color: @dark-violet; }
		.b-licences a {
			border-top-color: lighten(@dark-violet, 15%);
			border-left-color: @dark-violet;
			border-right-color: @dark-violet;
			border-bottom-color: darken(@dark-violet, 15%);
		}
		._passed:before { background: mix(@dark-violet, #fff, 20%) }//background: rgba(red(@dark-violet), green(@dark-violet), blue(@dark-violet), 0.2); }
	}



	&._dark-green {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @dark-green; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @dark-green }
		.btn:hover,.btn.active:hover { background: lighten(@dark-green, 5%); }
		.btn:active,.btn.active:active { background: darken(@dark-green, 5%); }
		.b-product-tasks__item:before { color: @dark-green; }
		.b-licences a {
			border-top-color: lighten(@dark-green, 15%);
			border-left-color: @dark-green;
			border-right-color: @dark-green;
			border-bottom-color: darken(@dark-green, 15%);
		}
		._passed:before { background: rgba(red(@dark-green), green(@dark-green), blue(@dark-green), 0.2); }
	}



	&._green {
		.btn.active,
		.b-submenu ._fill,
		.btn.btn-primary,
		.b-features__item:before,
		.b-clients .tinyscrollbar .thumb { background-color: @green; color: #fff; }
		.btn.active,
		.btn.btn-primary,
		.b-submenu nav { border-color: @green }
		.btn:hover,.btn.active:hover { background: lighten(@green, 5%); }
		.btn:active,.btn.active:active { background: darken(@green, 5%); }
		.b-product-tasks__item:before { color: @green; }
		.b-licences a {
			border-top-color: lighten(@green, 15%);
			border-left-color: @green;
			border-right-color: @green;
			border-bottom-color: darken(@green, 15%);
		}
		._passed:before { background: rgba(red(@green), green(@green), blue(@green), 0.2); }
	}



}









.b-product-page {
	.b-intro__text {
		display: inline-block;
		vertical-align: top;
		&._short { width: 30%; margin-right: 30px; }
		&._long { width: 50%; line-height: 20px; }
	}

	.b-reports h2 {
		line-height: 47px;
	}

	.b-news__list {
		.columns(2);
	}
}







.b-submenu {
	height: 42px;

	nav {
		position: absolute;
		z-index: 1;
		background: #fff;
		overflow: hidden;
		border: 1px solid;

		&._detached {
			position: fixed;
			top: 15px;
		}

		ul {
			margin-bottom: 0;
			//border: 1px solid;
			.inline-block-justify();

			li.b-submenu__item {
				a {
					.fluid-button(40px, 9px);
					width: 100%;
					text-align: center;
					font-size: 14px;
					color: @violet;
					white-space: nowrap;
					position: relative;
					z-index: 1;
				}

				.transition(all 0.5s);

				/* &:first-child a {
					padding-left: 20px;
				} */


				&._passed {
					position: relative;
					&:before {
						position: absolute;
						content: "";
						width: 1920px;
						height: 100%;
						right: 0;
					}
				}


				/* &._passed {
					background: rgba(red(#888), green(#888), blue(#888), 0.2);
				} */

				/* &._descr     { width: 10% }
				&._scheme    { width: 16% }
				&._articles  { width: 19% }
				&._licences  { width: 9%  }
				&._materials { width: 19% }
				&._clients   { width: 8%  }
				&._consult   { width: 19% } */

			}
		}
	}
}








.b-product-tasks__list {
	max-width: 700px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;

}

.b-product-tasks__item {
	position: relative;
	padding-left: 35px;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #616161;

	&:before {
		content: "■ ";
		position: absolute;
		left: 0;
		top: 0;
		font-size: 40px;
		line-height: 15px;
	}
}








.b-features__title span {
	border-bottom: 1px dotted;
	cursor: pointer;
}

.b-features__item {
	position: relative;
	padding-top: 15px;
	padding-right: 50px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 4px;
		background-color: #888;
	}

	.break-inside-avoid();
	li { .break-inside-avoid(); }
}

.b-features__text {
	//.columns(2);
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

	ol > li { display: list-item; }
}

.b-features__more {

	& > span {
		border-bottom: 1px dotted;
	}

	& > span:before {
		content: "Показать всё"
	}

	& > i {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin-left: 5px;
		background: url(../img/icon/more.png) center center no-repeat;
	}

	&._open {
		& > span:before {
			content: "Скрыть"
		}

		& > i {
			.rotate(180);
		}
	}
}








.b-webinars__preview {
	float: left;
	margin-right: 25px;
	margin-bottom: 10px;
}

.b-webinars__time {
	color: @violet;
}








.b-pilot {
	height: 300px;
	margin-left: -50px;
	margin-right: -50px;
	background: url(../img/bg/pilot.jpg) center center no-repeat;
	.background-size(cover);
}







.b-licences {
	a, img { display: inline-block; }

	a {
		border-top: 15px solid lighten(#888, 15%);
		border-left: 15px solid #888;
		border-right: 15px solid #888;
		border-bottom: 15px solid darken(#888, 15%);
	}
}


/*------------------------------ Продукт (конец) ---------------------------*/